body {
    margin: 0;
}

/* H E A D E R */

.headcontents {
    background-color: white;
    font-family: "Lucida New", sans-serif;;
    }

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.head-ls {
    display: flex;
    margin-left: 24px;
}

.heavy {
    font-weight: bolder;
}

.head ul {
    display: flex; 
    list-style-type: none;
    margin: 24px;
}

.head li {
    margin: 0px 8px;
}

.head img {
    scale: 200%;
}

.head h1 {
    margin-left: 20px;
    font-family: "Lucida New", sans-serif;
}

/* K E E P P R A C T I C I N G */

.lsned {
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lsned-image {
    margin: 32px 24px;
}

.lsned img {
    height: auto;
    width: 900px;
}

.lsned-text {
    font-family: "Lucida New", sans-serif;
    display: flex;
    justify-content: center;
}

.lsnes-text-dex {
    display: flex;
    justify-content: center;
    transform: translateX(-12.5%);
}

.text-des {
    width: 90%;    width: 90%;
    display: flex;
    flex-direction: column;
}

.lsned h2 {
    color: rgb(96, 94, 94);
    font-size: 32px;
}

.lsned h3 {
    color: rgb(96, 94, 94);
    font-size: 20px;
}

.lsned h4 {
    font-size: 16px;
    text-align: center;
    background-color: rgb(96, 94, 94);
    color: white;
    width: 30%;
    padding: 8px 50px;
}

/* S T A R T L E A R N I N G */

.idhtkp {
    background-color: white;
    display: flex;
    padding-top: 16px;
}

.idhtkg-ls {
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.idhtkg-ls img {
    width: 100%;
    height: auto;
}

.idhtkg-ls-text {
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.idhtkg-ls h3 {
    font-family: "Lucida New", sans-serif;
    font-size: 28px;
}

.idhtkg-ls h5 {
    font-family: "Lucida New", sans-serif;
    font-size: 16px;
}

.idhtkg-ls span {
    font-family: "Lucida New", sans-serif;
    font-size: 16px;
}

.idhtkp-rs {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.idhtkp-image {
    display: flex;
    border: lightgray solid 1px;
    scale: 80%;
    height: 236px;
}

.idhtkp-rs img {
    scale: 90%;
}

.idhtkg-img-text {
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#readmore {
    color: cornflowerblue;
}

/* S T A R T L E A R N I N G */

.sl-li {
    background-color: #e4e4e4;
    font-family: "Lucida New", sans-serif;
    color: rgb(82, 74, 74);
}
.sl-li-header {
    text-align: center;
    transform: translateY(32px);
    font-size: 32px;
    font-weight: bold;
}

.sl-li ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

.sl-li li {
    width: fit-content;
    background-color: white;
    text-align: left;
    padding-bottom: 16px;
    scale: 90%; 
}

#compart {
    height: 398px;
}

.sl-li li h3 {
    font-size: 18px;
}

.sl-li  li h4 {
    font-size: 13px;
}

.coursetext {
    margin-left: 16px;
}
/* T H E S I S E X H I B I T */

.te {

}

.te-header {

}

.te-header h2 {

}

.te-ls {

}

.te-rs {

}

.te-rs ul {

}

.te-rs li {

}

.te h3 {

}

.te h5 {

}

/* F O O T E R */

/* E L S E */
